/* --- TEMA ESCURO --- */
body.theme-dark {
  --cor-fundo: #552b38;     
  --cor-fundo-secundario: #552b38;

  --cor-primaria: #4d0e26; 
  --cor-primaria-hover: #552b38;

  --cor-texto-principal: #552b38;
  --cor-texto-secundario: #4d0e26;   
  --cor-borda: #552b38;      
  --cor-accent: #a0526b;   

  
  background: #552b38;
  background-size: 800% 800%;
  animation: gradientBG 12s ease infinite;
}

body.theme-dark .site-header,
body.theme-dark .site-footer {
  background-color: var(--cor-clara); 
  color: var(--cor-primaria); 
}

body.theme-dark .logo {
  border-color: var(--cor-primaria); 
}

body.theme-dark .main-nav a {
  color: var(--cor-escura); 
}
body.theme-dark .main-nav a:hover {
  background: var(--cor-primaria); 
  color: var(--cor-clara); 
}

body.theme-dark .card {
    background: var(--cor-neutra-clara); 
    color: var(--cor-clara); 
}
body.theme-dark .card h3 {
    color: var(--cor-clara); 
}

body.theme-dark .main-nav a:hover {
  background: var(--cor-clara); 
  color: var(--cor-hover); 
}

body.theme-dark .content-section {
  background: var(--cor-neutra-clara);
  
  border-color: var(--cor-borda);
}

body.theme-dark .content-section p {
  color: var(--cor-primaria); 
}

body.theme-dark .content-section h3 {
  color: var(--cor-hover) !important; 
}
